body {
    font-family: 'Roboto', sans-serif;
    background-color: dimgray;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1CBCDA;
}

.title-bar h1 {
    font-size: 48px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav-bar {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.nav-bar a {
    padding: 8px 30px;
}


.github-link {
    height: 32px;
    width: 32px;
    background-image: url("../assets/images/GitHub.png");
}

.linkedin-link {
    height: 32px;
    width: 32px;
    background-image: url("../assets/images/LinkedIn.png");
}

.content-container {
    display: flex;
    width: 95%;
    margin: 20px auto;
    justify-content: space-around;
}

aside {
    box-sizing: border-box;
    width: 16.66%;
    margin: 10px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;

    background-color: lightgrey;
}


main {
    box-sizing: border-box;
    width: 66.66%;
}


h2 {
    font-size: 24px;
    display: block;
    margin: 5px 0;
}

.controls p {
    text-align: center;
    padding: 10px 0 5px 0;
}

#wasd img {
    width: 100%;
}

#arrows img {
    width: 100%;
}

.controls-img {
    width: 48%;
    background-size: contain;
    display: inline-block;
    margin: 10px 0;
}

.directions h2 {
    margin-top: 20px;
}

.directions-list {
    list-style: circle inside;
    text-indent: -1.5em;
    padding-left: 1em;
    margin-top: 10px;
    font-size: 16px;
}

.directions-list li {
    padding: 5px;
    line-height: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background-image: url(../assets/images/cell_bg.jpg);
    border: 3px solid black;
    border-radius: 5px;
}

.mute {
    background-image: url(../assets/images/mute_inactive.png);
    background-size: contain;
    height: 40px;
    width: 40px;
    position: relative;
    bottom: 60px;
    left: 320px;
}

.active {
    background-image: url(../assets/images/mute_active.png);
}

.hidden-images {
    display: none;
}